@use '../util' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    font-size: clamp(28px, 16px + 2vw, 40px); // tres parametros: valor minimo, valor preferido, valor maximo 
    //calc(16px + 2vw); 7.5vw
}

p {
    margin-top: 0;
}

a, a:visited, a:active {
    text-decoration: none;
    color: rgb(255, 5, 5)
}