@use '../util' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    //font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem); // tres parametros: valor minimo, valor preferido, valor maximo 
    //calc(16px + 2vw); 7.5vw
    font-size: clamp(u.toRem(28), u.toRem(16) + 2vw, u.toRem(40));


}

h2 {
    //font-size: clamp(1.375rem, 0.875rem + 2vw, 2.25rem);
    font-size: clamp(u.toRem(22), u.toRem(14) + 1.5vw, u.toRem(36));
}

p {
    margin-top: 0;
    font-size: 1rem;
}

a, a:visited, a:active {
    text-decoration: none;
    color: rgb(255, 5, 5)
}