@use '../util/' as u;

//placeholder
%widget {
    padding: u.toRem(16);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.toRem(30);
    //max-width: 1300px;
    width: min(100% - u.toRem(40), u.toRem(1100));//min(100% - 40px, 1100px); // seleciona o menor valor comparado a viewport
    margin-inline: auto;

    @include u.breakpoint-up(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }


    /*@media (min-width: 900px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    } */

    &__main, &__sidebar {
        padding: u.toRem(40);
    }

    &__main {
        background-color: rgb(169, 169, 255);

        // ordem media query
        /*
         *   a ordem importa, se medium estiver por último, a segunda media vai sobrepor
        **   a primeira, já q a última foi executada primeiramente.
        */

        @include u.breakpoint-up(medium) {
            background-color: rgb(247, 234, 122);
        }

        @include u.breakpoint-up(large) {
            background-color: rgb(180, 74, 74);
        }

    }

    &__sidebar {
        background-color: rgb(255, 204, 255);

        // ordem importa
        @include u.breakpoint-down('medium-down') {
            text-align: center;
        }

        @include u.breakpoint-down(small) {
            text-align: right;
        }
    }

    &__widget {
        //$widget: &;
        background-color: azure;
        padding: u.toRem(16);


        //padding: u.toRem(16);

        &.green {
            //@extend .grid__widget;
            //@extend #{$widget};
            //@extend %widget;
            background-color: green;
        }
    }
}